---
import ItineraryHeader from './ItineraryHeader.astro';
import DaySection from './DaySection.astro';
import type { CompleteStop } from '@/types/itinerary';

interface Props {
  tripId: string;
  initialData: any;
  isOwner: boolean;
}

const { tripId, initialData, isOwner } = Astro.props;
console.log("initialData", initialData);
// Group stops by day
const stopsByDay: CompleteStop[][] = [];
let currentDay: CompleteStop[] = [];
let currentDate = '';
function groupStopsByDay(stops: CompleteStop[]) {
  const stopsByDay: CompleteStop[][] = [];
  let currentDay: CompleteStop[] = [];
  let currentDate = '';

  stops.forEach((completeStop, index) => {
    const stopDate = new Date(completeStop.stop?.scheduled_start).toDateString() || '';
    if (index === 0) {
      currentDate = stopDate;
      currentDay.push(completeStop);
    } else if (stopDate === currentDate) {
      currentDay.push(completeStop);
    } else {
      stopsByDay.push([...currentDay]);
      currentDay = [completeStop];
      currentDate = stopDate;
    }
    
    if (index === stops.length - 1) {
      stopsByDay.push(currentDay);
    }
  });

  return stopsByDay;
}

let groupedStops = groupStopsByDay(initialData || []);
---

<div 
  id="itinerary-root" 
  class="max-w-6xl mx-auto p-4 md:p-6" 
  data-trip-id={tripId} 
  data-is-owner={isOwner}
>
  <ItineraryHeader 
    isOwner={isOwner}
  />

  <div id="days-container" class="space-y-8">
    {groupedStops.map((dayStops, dayIndex) => (
      <DaySection 
        dayIndex={dayIndex}
        stops={dayStops}
        isOwner={isOwner}
      />
    ))}
  </div>
</div>

<script src="../../../scripts/Itinerary/Itinerary.ts"></script>