---
import { transformDate } from '@jsarmyknife/native--math'

interface Props {
  slug: string,
  publishedDate: string,
  title: string,
  thumbnail: string,
  description: string,
  excerpt: string
}
const {slug, publishedDate, thumbnail, title, description, excerpt } = Astro.props as Props;
---


<astro-blog-item-small class="bg-white rounded-xl trip-card shadow-md hover:shadow-xl transition-shadow duration-300 overflow-hidden flex flex-col p-2">
  <input type="hidden" id="data" value={JSON.stringify({
    slug: slug,
    publishedDate: publishedDate,
    title: title,
    description: description,
  })} />
  <picture class="mb-3 w-full h-full">
    <img src={thumbnail} alt={title} class="rounded-xl" />
  </picture>
  <h4 class="h8 mb-3">{title}</h4>
  <p>{excerpt}</p>

  <div class="flex justify-between pt-5 mt-auto gap-2">
    <a href={`/blogs/${slug}`} class="btn-rounded-outline !py-2">View</a>
  <p class="text-gray-500 text-s pt-2">{transformDate(publishedDate, "mnt, dd yyyy")} </p>
  </div>
</astro-blog-item-small>
<script>
//---> Import
import { ElementMaker } from "@jsarmyknife/native--dom";

ElementMaker("astro-blog-item-small", async (element)=>{
  if(element == null)
    return;

}, true);
</script>