---
import { getAllPosts } from '@/lib/cosmic_client'
import BlogItemSmall from '@/components/Blog/BlogItemSmall.astro';
import type { BlogPost } from 'src/structure/Blog';

// import fetchApi from '@/lib/strapi';
import { STRAPI_TOKEN } from 'astro:env/server';

// import type Article from '@/interfaces/article';

// const articles = await fetchApi<Article[]>({
//   endpoint: 'announcement-banners', // the content type to fetch
//   // wrappedByKey: STRAPI_TOKEN, // the key to unwrap the response
// });

// console.log(articles);

let newsContentData: any;
 newsContentData = await new Promise(async(resolve)=>{
  try{
    resolve(await getAllPosts(0,3));
  }catch{
    resolve([]);
  }
});
---
{newsContentData.total > 0 &&
    <div class="py-24 px-8 text-center">
      <header class="mb-8">
        <h2 class="text-4xl font-bold mb-12">Blog Posts</h2>
      </header>
      <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 auto-cols-max gap-5">
        {newsContentData.objects.map((item: BlogPost) => {
          return (
            <BlogItemSmall
              slug={item.slug}
              title={item.title}
              thumbnail={item.metadata.featured_image.imgix_url}
              publishedDate={item.created_at}
              description={item.metadata.content}
              excerpt={item.metadata.excerpt}
            />
          );
        })}
      </div>
      <div class="px-6 mt-7 flex justify-center">
          <a href="/blogs" title="See More" class="w-full btn-outline hover:bg-gray-100">
            See More
          </a>
        </div>
    </div>
    }


<slot name="fallback" />