---
import { Calendar, Users, MapPin, HandCoins, LucideVenusAndMars } from "@lucide/astro";

const {
  owner,
  status,
  title,
  description,
  destination,
  tripStart,
  tripEnd,
  currentPax,
  genderPref,
  maxPax,
  costSharing,
  userID,
  visibility,
  tags = [],
} = Astro.props;

const statusColors = {
  complete: "bg-green-600",
  draft: "bg-gray-600",
  ongoing: "bg-blue-600",
  pending: "bg-yellow-600",
};
---

<section class="w-full space-y-8 px-4 bg-white py-2 max-w-5xl mx-auto shadow rounded-xl mt-2 mb-16t">

  <!-- TITLE & STATUS -->
  <header class="space-y-1">
    <div class="flex items-start gap-2">
      <h1 class="text-3xl md:text-4xl font-semibold leading-tight">{title}</h1>

      {status in statusColors && owner === userID ? (
        <span
        class={`inline-flex items-center px-2 py-0.5 rounded-full text-white text-[10px] md:text-xs font-semibold ${statusColors[status as keyof typeof statusColors]}`}
        >
        {String(status).toUpperCase()}
      </span>
      ) : null}
    <!-- Visibility -->
    {visibility in statusColors && owner === userID ? (
      <span
        class={`inline-flex items-center px-2 py-0.5 rounded-full text-white text-[10px] md:text-xs font-semibold ${statusColors[visibility as keyof typeof statusColors]}`}
      >
        {String(visibility).toUpperCase()}
      </span>
    ) : null}

    <div class="flex items-center gap-2">
      <MapPin size={18} class="text-gray-600" />
      <span class="font-semibold text-gray-500 text-sm md:text-base">Destination</span><span class="font-medium text-gray-800 text-sm md:text-base">{destination}</span>
    </div>
  </div>

    <!-- <div>
      <p class="text-xs text-gray-500">Organized by</p>
      <p class="font-medium text-gray-800 text-sm md:text-base">{owner}</p>
    </div> -->
  </header>

  <hr class="border-gray-300" />

  <!-- DETAILS -->
  <section class="space-y-4">

    <!-- DESTINATION -->
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-2">
        <MapPin size={18} class="text-gray-600" />
        <span class="font-semibold text-gray-500 text-sm md:text-base">Destination</span>
      </div>
      <span class="font-medium text-gray-800 text-sm md:text-base">{destination}</span>
    </div>

    <!-- TRIP START -->
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-2">
        <Calendar size={18} class="text-gray-600" />
        <span class="font-semibold text-gray-500 text-sm md:text-base">Trip Start</span>
      </div>
      <span class="font-medium text-gray-800 text-sm md:text-base">{tripStart}</span>
    </div>

    <!-- TRIP END -->
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-2">
        <Calendar size={18} class="text-gray-600" />
        <span class="font-semibold text-gray-500 text-sm md:text-base">Trip End</span>
      </div>
      <span class="font-medium text-gray-800 text-sm md:text-base">{tripEnd}</span>
    </div>

    <!-- JOINERS -->
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-2">
        <Users size={18} class="text-gray-600" />
        <span class="font-semibold text-gray-500 text-sm md:text-base">No. of Joiners</span>
      </div>
      <span class="font-medium text-gray-800 text-sm md:text-base">
        {currentPax} / {maxPax}
      </span>
    </div>

    <!-- GENDER PREF -->
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-2">
        <LucideVenusAndMars size={18} class="text-gray-600" />
        <span class="font-semibold text-gray-500 text-sm md:text-base">Gender Preference</span>
      </div>
      <span class="font-medium text-gray-800 text-sm md:text-base">
        {genderPref || "None"}
      </span>
    </div>

    <!-- COST SHARING -->
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-2">
        <HandCoins size={18} class="text-gray-600" />
        <span class="font-semibold text-gray-500 text-sm md:text-base">Cost Sharing</span>
      </div>
      <span class="font-medium text-gray-800 text-sm md:text-base">
        {String(costSharing).toUpperCase()}
      </span>
    </div>

  </section>

  <hr class="border-gray-300" />

  <!-- DESCRIPTION -->
  <section class="space-y-4">
    <h2 class="font-semibold text-gray-500 text-sm md:text-base">Description</h2>
    <p class="text-gray-800 text-sm md:text-base">{description}</p>
  </section>
</section>


