---
import type { PAGE_PLATE_PROPS } from "@/types/pageplates/types";
import Layout from "./Layout.astro";
import FooterMain from "@/features/footer/FooterMain.astro";
import HeaderMain from "@/features/navbar/HeaderMain.astro";
import SeoHead from "@/seo/component/SeoHead.astro";
import CookiesConsent from "@/components/CookiesConsent.astro";
import LoadModal from "@/components/LoadModal.astro";
import BottomNav from "@/features/navbar/BottomNav.astro";

let user_id = Astro.locals.user_id;
interface Props extends PAGE_PLATE_PROPS {}

let {
  title = "Tara G!",
  noHeader = false,
  noFooter = false,
  noContainer = false,
  clean = false,
  expectedHeight = "min-h-screen", // Better responsive height handling
  prefetch,
  description,
  html = {},
  containerClass = "", // Allow custom container classes
} = Astro.props;

//---> Preflight
if(description == undefined){
  description = {
    title,
    type: "WebPage",
    description: "Discover amazing trips and experiences with Tara G!",
    author: "Tara G!",
    authorIs: "Organization",
  };
}
if(description && !description.title){
  description.title = title;
}
---

<Layout title={title} html={html}>
  <Fragment slot={`head-last`}>
    <SeoHead description={description} prefetch={prefetch} showFb={!!description?.fbAppId} />
  </Fragment>
    {clean?"":<>
      {noHeader ? "":<>
        <HeaderMain />
      </>}
    </>}
    <slot name="header" />

{noContainer ?<>
      <slot />
      </>:<>
      <div
        class={`container mx-auto px-4 sm:px-6 md:px-8 lg:px-12 py-4 sm:py-6 md:py-8 lg:py-12 relative ${containerClass}`}
      >
      <slot />
    </div>
    </>}
    <CookiesConsent />
    <LoadModal />
    {
     user_id ? <BottomNav currentPath={Astro.url.pathname} /> : ""
    }
    {clean?"": <>
      {noFooter ? "":<>
        <FooterMain />
      </>}
    </>}
</Layout>